span.autocomplete-box
  position relative
  background-color white

div.autocomplete-popover
  cursor pointer
  background-color white
  position absolute
  left 0px


div.autocomplete-selected
  background-color black
  color white