input
  border 1px gray
  border-style none none solid none

.input-successful
  border-color green //darkseagreen
  //color green

.input-incorrect
  color lightcoral
  border-color red

.input-dirty
  background-color #fdca96