.input-successful
  background-color darkseagreen
  //border 2px solid darkseagreen
  color green

.input-incorrect
  color lightcoral
  //background-color lightcoral
  //background-color lightpink


