.arrow-up
  width 0
  height 0
  border-left 15px solid transparent
  border-right 15px solid transparent
  border-bottom 15px solid #fdca96

.popup
  position absolute
  width 150px

.popup.inactive
  height 0px
  visibility hidden

.popup.active
  height 50px
  visibility visible

.popup .content
  background-color #fdca96

.popup .box
  border-color lightcoral

.popup .close
  background-color #fdca96
  text-align right
  cursor pointer
